    <section>
        <div id="contenido" class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Propietarios</h1>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="well well-lg col-md-10 col-md-offset-1">
                    <form>
                        <div class="form-group">
                            <label>Búsqueda:
                    </label><input class="form-control" class="" type="search" ng-model="vm.filtro">
                        </div>
                        <button type="submit" class="btn btn-success">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="contenido" class="container-fluid">
            <div class="row">
                <div class="container col-md-10 col-md-offset-1">
                    <!--                    ng-hide="!filtro.length"                    -->
                    <input type="button"  value="Crear Owner" ui-sref="insertarOwner">
                    <h4 ng-if="vm.filtro">Filtrado por: {{vm.filtro}}</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Dirección</th>
                                <th>Ciudad</th>
                                <th>Teléfono</th>
                                <th>Nº Mascotas</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
<!--                            ng-repeat="own in owners | filter:filtro" ng-class="{'danger':own.numPets==0}"-->
                            <tr ng-repeat="own in vm.owners | filter:{firstName:vm.filtro} | orderBy:'-pets'" ng-class="{'danger':own.pets==0}">
                                <td>{{own.id}}</td>
                                <td>{{own.firstName | uppercase}}</td>
                                <td>{{own.lastName}}</td>
                                <td>{{own.address}}</td>
                                <td>{{own.city}}</td>
                                <td>{{own.telephone}}</td>
                                <td><span ng-repeat="pet in own.pets track by pet.id">{{pet.name}}<span ng-if="!$last">, </span></span></td>
                                <td><button class="btn btn-danger" ng-click="vm.deleteOwners(own)">x</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

